.Login {
  display: flex;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
  text-align: center;
}

.mb-3 {
  display: flex;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
}

.LoginForm {
  background-color: rgb(14, 24, 175);
  height: 1000px;
}

.form-label {
  font-weight: bold;
  color: white;
  font-family: sans-serif;
}

.NavBar {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: left;
  flex-direction: row;
  background-color: rgb(180, 175, 175);
}

footer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  justify-content: left;
  flex-direction: row;
  background-color: rgb(180, 175, 175);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.NavBar-list {
  flex-direction: row;
  justify-content: center;
}

.HomeTable {
  width: 100%;
  table-layout: fixed;
}

.errtext {
  color: red;
  text-align: center;
}

table, td {
  border:1px black solid;
  text-align: left;
}

.table1 th {
  border:1px black solid;
}

table {
  border-collapse:collapse;
}

.table1 {
  border-collapse:collapse;
}

.bond_holder {
  width: 5px;
}

.th1 {
  width:63px;
  border:1px black solid;
}

.th2 {
  width:111px;
}

.th3 {
  width:110px;
}

.th4 {
  width: 33px;
}

.th5 {
  width:12px;
}

.th6 {
  width: 111px;
}

.th7 {
  width: 87px;
}

.th8 {
  width: 87px;

}

.th9 {
  width:38px;
}

.th10 {
  width:87px;
}

.th11 {
  width:29px;
}