.Login {
  display: flex;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
  text-align: center;
}

.mb-3 {
  display: flex;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
}

.LoginForm {
  background-color: rgb(19, 33, 226);
  height: 1000px;
}

.form-label {
  font-weight: bold;
  color: white;
  font-family: sans-serif;
}

.NavBar {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
  flex-direction: row;
  background-color: lightgray;
}

.NavBar-list {
  flex-direction: row;
  justify-content: center;
}
